/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import "fonts.css";

html,
button,
input,
select,
textarea {
	color: #222;
}

html,body {
	width: 100%;
	height: 100%;
}

html {
	background: url(../img/pattern.png) repeat;
}


body {
	background: url(../img/bg.jpg) no-repeat center 31px;
	font: 16px/24px "siemens_sansroman";
	color: #000000;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #fff019;
	text-shadow: none;
}

::selection {
	background: #fff019;
	text-shadow: none;

}

.selection {
	background: #fff019;
	color: #000000 !important;
	display: inline-block;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
	color: #0083c0;
	text-decoration: none;
}

a.dashed {
	border-bottom: 1px dashed #000000;
}

/*
a:visited {
	color: #7a5daa;
}
*/

a:hover {
	color: #ff0606;
}

h1 {
	font: 24px "siemens_slabbold";
	text-transform: uppercase;
	margin: 0 0 20px;
}

h1 a {
	font: 16px "siemens_sansroman";
	background: url(../img/back.png) left center no-repeat;
	margin-left: 30px;
	padding-left: 20px;
	display: inline-block;
	vertical-align: middle;
}

h2 {
	font: 20px "siemens_slabbold";
	margin: 0 0 20px;
}

h3 {

}

p {
	margin: 0 0 15px;
}

p strong {

}

blockquote {
	font: 18px/26px "siemens_slabbold_italic";
	background: url(../img/bg-blockquote.png) no-repeat left center;
	padding: 15px 0 0 60px;
	min-height: 200px;
	margin: 25px 40px 25px 195px;
}

#wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.wrap {
	width: 978px;
	margin: 0 auto;
	position: relative;
}

.wrap1 {
	width: 1130px;
	margin: 0 auto;
}

.delim {
	background: url(../img/delim.png) center no-repeat;
	width: 100%;
	height: 13px;
	z-index: -1;
}

.delim2 {
	background: url(../img/delim2.png) center no-repeat;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.overflow {
	overflow: hidden;
}

.clear {
	clear: both;
}

/* Lists */
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.content ul,
.content ol {
	margin: 0 0 15px 15px;
	font-size: 14px;
}

.content ul li {
	padding-left: 17px;
	background: url(../img/marker-list.png) left 10px no-repeat;
}

.content ol li span {
	color: #d44a43;
	display: inline-block;
	margin-right: 6px;
}

.content ul li ul {
	margin: 5px 0 25px 15px;
}

.content ol li ul {
	margin: 5px 0 25px 32px;
}

.content ul li ul li,
.content ol li ul li {
	background: url(../img/marker1-list.png) left 10px no-repeat;
}

/* Table */
.content table {
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 15px;
}

.content table th,
.content table td {
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #dbdbdb;
}

.content table th {
	font: 18px "siemens_slabbold";
	padding: 20px;
	background: url(../img/border-th.jpg) left center no-repeat;
}

.content table th:first-child {
	background: none;
}

.content table td {
	font-size: 13px;
	padding: 15px 20px;
}

/* Parallax */
.parallax {
	position: absolute;
}

.parallax1 {
	position: absolute;
	width: 161px;
	height: 179px;
	top: 60px;
	right: 100px;
	z-index: 99;
}

.parallax2 {
	position: absolute;
	width: 436px;
	height: 293px;
	top: 690px;
	z-index: 99;
	left: -150px;
}

.parallax3 {
	position: absolute;
	width: 291px;
	height: 200px;
	top: 195px;
	right: 60px;
	z-index: 99;
}

.blot {
	position: absolute;
	z-index: 9999;
	width: 63px;
	height: 47px;
	background: url(../img/blots.png) 0 0 no-repeat;
	left: 0;
	top: 0;
}

.blot.yellow {
	background-position: 0 -47px;
}

.button {
	background: url(../img/buttons.png) no-repeat;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: 0;
	color: #ffffff;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.button:hover {
	color: #ffffff;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	margin-bottom: 27px;
}

/* Header Top */
.header-top {
	background: #000000;
	height: 31px;
	z-index: 1;
	position: relative;
}

.header-top .service-menu {
	float: left;
	margin: 3px 337px 0 0;
}

.header-top .service-menu li {
	float: left;
	margin-right: 11px;
}

.header-top .service-menu li:first-child {
	margin-right: 7px;
}

.header-top .service-menu li a {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	background: url(../img/bg-service-menu.png) 0 0 no-repeat;
}

.header-top .service-menu li.active a.service-main-page {
	background-position: 0 -26px;
}

.header-top .service-menu li a.service-mail {
	background-position: -38px 0;
}

.header-top .service-menu li.active a.service-mail {
	background-position: -38px -26px;
}

.header-top .service-menu li a.service-map {
	background-position: -71px 0;
}

.header-top .service-menu li.active a.service-map {
	background-position: -71px -26px;
}

.header-top .select-lang {
	float: left;
	margin-top: 3px;
}

.header-top .select-lang li {
	float: left;
	margin-right: 7px;
}

.header-top .select-lang li a {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	background: url(../img/bg-select-lang.png) 0 0 no-repeat;
}

.header-top .select-lang li.active a.lang-rus {
	background-position: 0 -26px;
}

.header-top .select-lang li a.lang-en {
	background-position: -35px 0;
}

.header-top .select-lang li.active a.lang-en {
	background-position: -35px -26px;
}

.header-top .select-lang li a.lang-de {
	background-position: -66px 0;
}

.header-top .select-lang li.active a.lang-de {
	background-position: -66px -26px;
}

.header-top .social-networks {
	float: right;
	margin: 6px 100px 0 0;
}

.header-top .social-networks li {
	float: left;
	line-height: 15px;
	background: url(../img/delim-social-networks.png) left 2px no-repeat;
	padding: 0 15px;
}

.header-top .social-networks li:first-child {
	background: none;
}

/* Header Middle */
.header-middle {
	text-align: center;
	position: relative;
}

.page-home .header-middle {
	top: -30px;
}

.page-home-en .header-middle {
	height: 300px;
	top: -45px;
	left: -50px;
}

.page-home-de .header-middle {
	height: 300px;
}

.page-news .header-middle {
	height: 240px;
	top: -50px;
}

.page-news-en .header-middle {
	height: 240px;
	left: -10px;
}

.page-news-de .header-middle {
	height: 240px;
	top:-65px;
}

.page-question .header-middle {
	height: 240px;
	top: -70px;
}

.page-question-en .header-middle {

}

.page-question-de .header-middle {

}

.page-personal .header-middle {
	height: 240px;
	top: -44px;
	left: -34px;
}

.page-personal-en .header-middle {
	height: 240px;
	top: -42px;
	left: -10px;
}

.page-personal-de .header-middle {
	height: 240px;
	top: -35px;
	left: -25px;
}

.page-about .header-middle {
	height: 240px;
	top: -13px;
}

.page-about-en .header-middle {
	height: 240px;
	top: -30px;
	left: -10px;
}

.page-about-de .header-middle {
	left: -10px;
}

.page-participation .header-middle {
	height: 240px;
	top: -50px;
	left: -30px;
}

.page-participation-en .header-middle {
	height: 240px;
}

.page-participation-de .header-middle {
	height: 240px;
	top: -27px;
}

.page-about-award .header-middle {
	height: 240px;
	top: -25px;
	left: -10px;
}

.page-about-award-en .header-middle {
	height: 240px;
	top: -10px;
}

.page-about-award-de .header-middle {
	height: 240px;
	top: -10px;
	left: -20px;
}

/* Header Bottom */
.header-bottom {
	z-index: 1;
	position: relative;
}

.header-bottom .delim {
	position: absolute;
	top: 30px;
	left: 0;
}

.wrap-main-menu {
	width: 1001px;
	margin: 0 auto;
	position: relative;
}

.main-menu {
	background: url(../img/bg-main-menu.png) center no-repeat;
	height: 77px;
}

.main-menu ul {
	padding: 25px 60px 0 60px;
	text-align: justify;
	line-height: 0;
	text-align-last: justify;
	position: relative;
}

.lt-ie8 .main-menu ul {
	text-justify: newspaper;
	zoom:1;
}

.main-menu ul:after {
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.main-menu ul li {
	display: inline-block;
	text-align: left;
	line-height: normal;
	vertical-align: top;
	position: relative;
}

.lt-ie8 .main-menu ul li {
	//display : inline;
	//zoom : 1;
}

.main-menu ul li a {
	color: #ffffff;
	text-transform: uppercase;
	display: inline-block;
}

.main-menu ul li.hover > a,
.main-menu ul li a:hover {
	color: #ffeb14;
}

.main-menu ul li a span {
	padding-bottom: 3px;
}

.lt-ie8 .main-menu ul li a span {
	zoom: 1;
	cursor: pointer;
}

.main-menu ul li.hover a span,
.main-menu ul li a:hover span {
	background: url(../img/border-main-menu.png) center bottom no-repeat;
}

.main-menu ul li.item2.hover a span,
.main-menu ul li.item2 a:hover span {
	background: url(../img/border2-main-menu.png) center bottom no-repeat;
}

.main-menu ul li.item3.hover a span,
.main-menu ul li.item3 a:hover span {
	background: url(../img/border3-main-menu.png) center bottom no-repeat;
}

.main-menu ul li.item4.hover a span,
.main-menu ul li.item4 a:hover span {
	background: url(../img/border4-main-menu.png) center bottom no-repeat;
}

.main-menu ul li.item5.hover a span,
.main-menu ul li.item5 a:hover span {
	background: url(../img/border5-main-menu.png) center bottom no-repeat;
}

.main-menu ul li.item6.hover a span,
.main-menu ul li.item6 a:hover span {
	background: url(../img/border6-main-menu.png) center bottom no-repeat;
}

.main-menu ul li.sub-menu a {
	padding-right: 15px;
	background: url(../img/arrow-main-menu.png) right 7px no-repeat;
}

.main-menu ul li.sub-menu.hover a,
.main-menu ul li.sub-menu a:hover {
	background-position: right -38px;
}

.main-menu ul li.sub-menu ul {
	display: none;
}

/* Sub Menu */
.wrap-sub-menu {
	z-index: -1;
	position: absolute;
	top: 16px;
	left: 0;
}

.wrap-sub-menu ul {
	padding: 67px 0 31px 31px;
	width: 256px;
	background: url(../img/bg-sub-menu.png) left bottom no-repeat;
}

.wrap-sub-menu ul li {
	margin-bottom: 6px;
}

.wrap-sub-menu ul li a {
	font-size: 14px;
	text-transform: uppercase;
	color: #000000;
	padding-left: 12px;
	background: url(../img/arrow-sub-menu.png) 0 3px no-repeat;
}

.wrap-sub-menu ul li a:hover {
	color: #0083c0;
	background-position: 0 -89px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 249px;
}

/* Reviews */
.b-reviews {
	width: 840px;
	margin-bottom: 35px;
	font-size: 15px;
}

.b-reviews article:first-child {
	margin: 0;
	padding-top: 0;
	background: none;
}

.b-reviews article {
	padding: 42px 50px 0 0;
	margin-top: 30px;
	background: url(../img/delim1.png) left top no-repeat;
}

.b-reviews article header {
	font-family: "siemens_slabregular";
	margin-bottom: 6px;
}

.b-reviews article header strong {
	font-family: "siemens_slab_blackregular";
}

.b-reviews article p {
	padding-left: 30px;
	margin-left: 10px;
	background: url(../img/review-top-quotes.png) left 3px no-repeat;
}

.b-reviews article p .review-bottom-quotes {
	display: inline-block;
	width: 18px;
	height: 14px;
	background: url(../img/review-bottom-quotes.png) no-repeat;
	margin-left: 5px;
}

/* List */
.content ol.list {
	margin: 0 0 20px;
}

.content ol.list li {
	overflow: hidden;
}

.content ol.list .list-marker {
	display: inline-block;
	width: 172px;
	height: 125px;
	float: left;
	background-image: url(../img/marker-big-list.png);
	background-repeat: no-repeat;
}

.content ol.list .list-marker b {
	display: inline-block;
	width: 75px;
	height: 75px;
	text-align: center;
	font: 36px/75px "siemens_slabbold";
	margin: 13px 0 0 55px;
}

.content ol.list .list1 .list-marker {
	background-position: 0 0;
}

.content ol.list .list2 .list-marker {
	background-position: 0 -643px;
}

.content ol.list .list3 .list-marker {
	background-position: 0 -1404px;
}

.content ol.list .list-body {
	padding: 20px 0 0 172px;
	font-size: 16px;
}

.content ol.list .list-body h2 {
	margin-bottom: 5px;
}

/* Two Column Text */
.content ul.two-column {
	font-size: 16px;
	margin: 0 0 25px;
	overflow: hidden;
}

.content ul.two-column li {
	background: none;
	padding: 0;
	float: left;
	width: 460px;
	padding-right: 14px;
	margin-left: 30px;
}

.content ul.two-column li:first-child {
	margin-left: 0;
}

.content ul.two-column li h2 {
	margin-bottom: 5px;
}

/* Three Column Text */
.content ul.three-column {
	font-size: 16px;
	margin: 0 0 25px;
	overflow: hidden;
}

.content ul.three-column li {
	background: none;
	padding: 0;
	float: left;
	width: 300px;
	padding-right: 6px;
	margin-left: 30px;
}

.content ul.three-column li:first-child {
	margin-left: 0;
}

.content ul.three-column li h2 {
	margin-bottom: 5px;
}

/* Text Blocks */
.b-text {
	overflow: hidden;
}

.b-text img {
	position: absolute;
}

.b-text-picture {
	position: relative;
}

.b-text-frame {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.b-text-picture1 {
	float: left;
	margin-right: 10px;
}

.b-text-picture1 .b-text-frame {
	width: 327px;
	height: 333px;
	background: url(../img/picture/frame1.png) no-repeat;
}

.b-text-picture1 img {
	top: 56px;
	left: 58px;
}

.b-text-picture2 {
	float: right;
	margin-left: 30px;
}

.b-text-picture2 .b-text-frame {
	width: 409px;
	height: 318px;
	background: url(../img/picture/frame2.png) no-repeat;
}

.b-text-picture2 img {
	top: 47px;
	left: 47px;
}

.b-text-picture3 {
	float: left;
	margin-right: 10px;
}

.b-text-picture3 .b-text-frame {
	width: 495px;
	height: 341px;
	background: url(../img/picture/frame3.png) no-repeat;
}

.b-text-picture3 img {
	top: 55px;
	left: 55px;
}

.b-text-italic p:first-child {
	width: 222px;
	margin-right: 30px;
	float: left;
	text-align: right;
	font: 14px/24px "Georgia";
	font-style: italic;
	color: #666666;
}

.b-text-italic p {
	width: 726px;
	float: right;
}

/* Main Page */
.about-plastov {
	position: relative;
	width: 1023px;
	height: 467px;
	background: url(../img/about-main.png) no-repeat;
	margin: -50px auto 0 auto;
}

.about-plastov h1 {
	position: absolute;
	font: 50px/25px "siemens_slabregular";
	text-transform: uppercase;
	top: 200px;
	left: 275px;
}

.lt-ie8 .about-plastov h1 {
	line-height: 35px;
}

.about-plastov h1 span {
	font-size: 24px;
	letter-spacing: 3.2px;
}

.about-plastov .button {
	width: 175px;
	height: 56px;
	line-height: 48px;
	position: absolute;
	top: 270px;
	left: 345px;
	z-index: 2;
}

.b-entry {
	margin-bottom: 50px;
}

.shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #000000;
	z-index: 999;
	display: none;
	background: url('../img/fancybox/fancybox_overlay.png');
}

.pop-up {
	padding: 25px 20px;
	width: 549px;
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	background: #fff;
	border-radius: 15px;
	display: none;

	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.pop-up .pop-up-close {
	position: absolute;
	right: -10px;
	top: -10px;
	width: 40px;
	height: 40px;
	background: url(../img/popup-close.png) no-repeat;
	cursor: pointer;
}

.pop-up .pop-up-arrow {
	background: url(../img/pop-up-arrow.png) no-repeat;
	position: absolute;
	width: 51px;
	height: 20px;
	left: 70px;
	bottom: -20px;
}

.pop-up .left {
	margin-right: 20px;
}

.pop-up .pop-up-body p {
	font-size: 14px;
	position: relative;
}

.pop-up .pop-up-quote-left {
	width: 10px;
	height: 7px;
	display: inline-block;
	background: url(../img/pop-up-quote-left.png) no-repeat;
	position: absolute;
	left: 160px;
	top: 5px;
}

.pop-up .pop-up-quote-right {
	width: 10px;
	height: 7px;
	display: inline-block;
	background: url(../img/pop-up-quote-right.png) no-repeat;
	position: absolute;
	bottom: 12px;
}

.pop-up footer {
	font: 13px "siemens_slabbold";
	text-align: right;
	padding: 10px 15px 0 0;
}

/* Events */
.wrap-b-events {
	position: relative;
	z-index: 10;
}

.wrap-b-events .caroufredsel_wrapper {
	width: 1004px !important;
	margin: 0 auto !important;
}

.b-events {
	overflow: hidden;
	padding-top: 40px;
}

.b-events > div {
	float: left;
	width: 1004px;
	height: 360px;
}

.b-events .b-event {
	float: left;
	position: relative;
}

.b-events .b-event h2 {
	text-transform: uppercase;
	margin-bottom: 7px;
}

.b-events p {
	margin: 0;
}

.b-events .b-event h2 a {
	color: #000000;
}

.b-events .b-event p {
	font: 13px/18px "Georgia";
	font-style: italic;
	color: #666666;
}

/* Event 1*/
.b-event1 {
	width: 380px;
	margin-left: 50px;
}

.b-event1-date {
	display: inline-block;
	background: url(../img/circle/circle1.png) no-repeat;
	width: 212px;
	height: 162px;
	position: absolute;
	top: -51px;
	left: 6px;
	z-index: -1;
}

.b-event1-date span {
	position: absolute;
	top: 50px;
	left: 78px;
	font: 24px "siemens_slabbold";
	text-align: center;
}

.b-event1-arrow-right {
	display: inline-block;
	position: absolute;
	background: url(../img/arrow-right-event.png);
	width: 56px;
	height: 17px;
	right: 7px;
	top: 9px;
}

.b-event1-body {
	width: 190px;
	float: right;
}

/* Event 2*/
.b-event2 {
	width: 403px;
}

.b-event2-date {
	display: inline-block;
	background: url(../img/circle/circle2.png) no-repeat;
	width: 151px;
	height: 154px;
	position: absolute;
	top: -44px;
	left: -4px;
	z-index: -1;
}

.b-event2-date span {
	position: absolute;
	top: 54px;
	left: 41px;
	font: 24px "siemens_slabbold";
}

.b-event2-arrow-right {
	display: inline-block;
	position: absolute;
	background: url(../img/arrow-right-event.png);
	width: 56px;
	height: 17px;
	right: 30px;
	top: 9px;
	cursor: pointer;
}

.b-event2-body {
	width: 285px;
	float: right;
}

/* Event 3 */
.b-event3 {
	width: 403px;
}

.b-event3-date {
	display: inline-block;
	background: url(../img/circle/circle3.png) no-repeat;
	width: 146px;
	height: 183px;
	position: absolute;
	top: -75px;
	left: 20px;
	z-index: -1;
}

.b-event3-date span {
	position: absolute;
	top: 85px;
	left: 45px;
	font: 24px "siemens_slabbold";
}

.b-event3-arrow-left {
	display: inline-block;
	position: absolute;
	background: url(../img/arrow-left-event.png);
	width: 56px;
	height: 17px;
	left: 0;
	top: 9px;
	cursor: pointer;
}

.b-event3-arrow-right {
	display: inline-block;
	position: absolute;
	background: url(../img/arrow-right-event.png);
	width: 56px;
	height: 17px;
	right: 30px;
	top: 9px;
}

.b-event3-body {
 	width: 252px;
	float: right;
}

/* Event 4 */
.b-event4 {
	width: 315px;
}

.b-event4-date {
	display: inline-block;
	background: url(../img/circle/circle4.png) no-repeat;
	width: 160px;
	height: 138px;
	position: absolute;
	top: -27px;
	left: -38px;
	z-index: -1;
	text-align: center;
	text-transform: uppercase;
}

.b-event4-date span {
	position: absolute;
	top: 33px;
	left: 46px;
	font: 24px/21px "siemens_slabbold";
}

.b-event4-arrow-right {
	display: inline-block;
	position: absolute;
	background: url(../img/arrow-right-event.png);
	width: 56px;
	height: 17px;
	right: 16px;
	top: 10px;
}

.b-event4-date span b {
	font-size: 18px;
}

.b-event4-body {
	width: 225px;
	float: right;
}

/* Event 5 */
.b-event5 {
	width: 285px;
}

.b-event5-date {
	display: inline-block;
	background: url(../img/circle/circle5.png) no-repeat;
	width: 212px;
	height: 162px;
	position: absolute;
	top: -52px;
	left: -62px;
	z-index: -1;
	text-align: center;
	text-transform: uppercase;
}

.b-event5-date span {
	position: absolute;
	top: 56px;
	left: 69px;
	font: 24px/21px "siemens_slabbold";
}

.b-events-en .b-event5-date span,
.b-events-de .b-event5-date span {
	left: 63px;
}

.b-event5-date span b {
	font-size: 18px;
}

.b-event5-body {
	width: 160px;
	float: right;
}

/* Laureate */
.wrap-laureate {
	padding-top: 25px;
	position: relative;
}

.wrap-laureate .scroll-pane {
	width: 978px;
	overflow: auto;
}

.wrap-laureate .horizontal-only {
	height: auto;
	max-height: 500px;
}

.wrap-laureate .prev-laureate,
.wrap-laureate .next-laureate {
	width: 118px;
	height: 123px;
	position: absolute;
	display: inline-block;
	background: url(../img/nav-laureate.png) no-repeat;
	z-index: 100;
	cursor: pointer;
	top: 310px;
}

.wrap-laureate .prev-laureate {
	left: -5px;
}

.wrap-laureate .next-laureate {
	background-position: 0 -123px;
	right: -5px;
}

.wrap-laureate h1 {
	margin-bottom: 33px;
}

.b-laureate-item {
	width: 978px;
	height: 500px;
	position: relative;
	float: left;
}

.b-laureate,
.b-laureate-item img {
	position: absolute;
}

.b-laureate-item .b-laureate-desc {
	background: rgba(0, 0, 0, 0.5);
	z-index: 99;
	position: absolute;
	color: #cccccc;
	font-size: 12px;
	line-height: 15px;
	padding: 10px;
	display: none;
}

.no-rgba .b-laureate-item .b-laureate-desc {
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
	zoom: 1;
}

.b-laureate-item .b-laureate-desc .b-laureate-desc-author {
	color: #ffffff;
	font-size: 14px;
}

.b-laureate .b-laureate-frame {
	display: inline-block;
}

.b-laureate1 {
	left: 3px;
	top: 13px;
	z-index: 10;
}

.b-laureate1 .b-laureate-frame {
	width: 247px;
	height: 306px;
	background: url(../img/picture/frame4.png) no-repeat;
}

.b-laureate1 img,
.b-laureate1 .b-laureate-desc {
	top: 43px;
	left: 45px;
}

.b-laureate1 .b-laureate-desc {
	width: 119px;
	height: 174px;
}

.b-laureate2 {
	left: 222px;
	top: 32px;
}

.b-laureate2 .b-laureate-frame {
	width: 255px;
	height: 205px;
	background: url(../img/picture/frame5.png) no-repeat;
}

.b-laureate2 img,
.b-laureate2 .b-laureate-desc {
	top: 30px;
	left: 32px;
}

.b-laureate2 .b-laureate-desc {
	width: 153px;
	height: 97px;
}

.b-laureate3 {
	left: 483px;
	top: 2px;
}

.b-laureate3 .b-laureate-frame {
	width: 303px;
	height: 256px;
	background: url(../img/picture/frame6.png) no-repeat;
}

.b-laureate3 img,
.b-laureate3 .b-laureate-desc {
	top: 45px;
	left: 45px;
}

.b-laureate3 .b-laureate-desc {
	width: 175px;
	height: 121px;
}

.b-laureate4 {
	left: 788px;
	top: 0;
 }

.b-laureate4 .b-laureate-frame {
	width: 181px;
	height: 226px;
	background: url(../img/picture/frame7.png) no-repeat;
}

.b-laureate4 img,
.b-laureate4 .b-laureate-desc {
	top: 27px;
	left: 27px;
}

.b-laureate4 .b-laureate-desc {
	width: 87px;
	height: 126px;
}

.b-laureate5 {
	left: 125px;
	top: 249px;
	z-index: 11;
}

.b-laureate5 .b-laureate-frame {
	width: 268px;
	height: 227px;
	background: url(../img/picture/frame8.png) no-repeat;
}

.b-laureate5 img,
.b-laureate5 .b-laureate-desc {
	top: 40px;
	left: 41px;
}

.b-laureate5 .b-laureate-desc {
	width: 146px;
	height: 100px;
}

.b-laureate6 {
	left: 388px;
	top: 231px;
}

.b-laureate6 .b-laureate-frame {
	width: 193px;
	height: 167px;
	background: url(../img/picture/frame9.png) no-repeat;
}

.b-laureate6 img,
.b-laureate6 .b-laureate-desc {
	top: 31px;
	left: 31px;
}

.b-laureate6 .b-laureate-desc {
	width: 92px;
	height: 60px;
}

.b-laureate7 {
	left: 590px;
	top: 224px;
}

.b-laureate7 .b-laureate-frame {
	width: 276px;
	height: 234px;
	background: url(../img/picture/frame10.png) no-repeat;
}

.b-laureate7 img,
.b-laureate7 .b-laureate-desc {
	top: 45px;
	left: 47px;
}

.b-laureate7 .b-laureate-desc {
	width: 144px;
	height: 98px;
}

/* Page Biography */
.content ol.bio-list .list-marker b {
	font-size: 24px;
}

.content ol.bio-list .list-marker-line b {
	line-height: 25px;
	margin-top: 25px;
}

blockquote.blockquote-bio {
	font: 18px/26px "siemens_slabbold";
	background: url(../img/bg-blockquote-medium.png) no-repeat left top;
	padding: 60px 0 0 60px;
	min-height: 100px;
	margin: 85px 0 0 300px;
}

.desc-picture {
	font: 18px "siemens_slabbold_italic";
	margin-top: -15px;
}

.b-bio1 {
	position: relative;
	width: 978px;
	height: 500px;
}

.b-bio1 .b-bio1-picture1 {
	position: absolute;
	left: 0;
	top: 0;
}

.b-bio1 .b-bio1-picture2 {
	position: absolute;
	left: 510px;
	top: -15px;
}

.b-bio1 .b-bio1-picture2 .desc-picture {
	padding-left: 55px;
}

.b-bio2 {
	overflow: hidden;
	margin-bottom: 30px;
}

.b-bio2 .left {
	padding-left: 55px;
}

/* Page Nasledie */
blockquote.blockquote-nas {
	background: url(../img/bg-blockquote-small.png) no-repeat left top;
	padding: 20px 0 0 45px;
	min-height: 108px;
	margin: 0 0 10px 35px;
}

.b-nas1 {
	overflow: hidden;
}

.b-nas1 img {
	margin-right: 20px;
}

.b-nas1 p {
	padding-top: 45px;
}

.b-nas2 {
	position: relative;
	width: 978px;
	height: 390px;
}

.b-nas2 .b-nas2-picture1 {
	position: absolute;
	left: 0;
	top: 23px;
}

.b-nas2 .b-nas2-picture2 {
	position: absolute;
	left: 272px;
	top: 85px;
	z-index: 1;
}

.b-nas2 .b-nas2-picture3 {
	position: absolute;
	left: 500px;
	top: 0;
}

.b-nas2 .b-nas2-picture3 .desc-picture {
	padding-left: 85px;
}

/* Page Personal */
.info-personal {
	float: left;
}

.info-personal-left {
	float: left;
	width: 335px;
	height: 430px;
	padding: 25px 0 0 45px;
	margin: -8px 84px 0 -45px;
}

.info-personal-right {
	float: left;
	width: 420px;
}

.info-personal-photo-wrap {
	position: relative;
}

.info-personal-photo-wrap .clip {
	position: absolute;
	background: url(../img/clip.png) no-repeat;
	width: 62px;
	height: 102px;
	right: 107px;
	top: -13px;
}

.info-personal-photo {
	position: absolute;
	width: 298px;
	height: 350px;
	background: url(../img/personal-photo-frame.png) no-repeat;
	left: 0;
	top: 0;
}

.csstransforms .info-personal-photo.rotate {
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	left: 5px;
	top: 12px;
}

.info-personal-photo img {
	margin: 12px 0 0 12px;
}

.info-personal table {
	background: none;
}

.info-personal h2 {
	margin-bottom: 10px;
}

.info-personal table td {
	background: url(../img/dotted.png) left bottom repeat-x;
	border: 0;
	padding: 12px 30px 12px 0;
	font-size: 16px;
	width: 138px;
}

.info-personal table td:first-child {
	font-size: 12px;
}

.info-personal table td span {
	padding-left: 30px;
	display: inline-block;
	background: url(../img/icons-personal.png) no-repeat;
}

.info-personal .user-lastname,
.info-personal .user-name {
	background-position: 0 3px;
}

.info-personal .user-date-birth {
	background-position: 2px -144px;
}

.info-personal .user-country {
	background-position: 2px -300px;
}

.info-personal .user-city {
	background-position: 2px -457px;
}

.info-personal .user-phone {
	background-position: 2px -596px;
}

.info-personal .user-email {
	background-position: 2px -737px;
}

.b-stat-work {
	overflow: hidden;
	margin-bottom: 20px;
}

.b-stat-work ul {
	width: 222px;
	float: left;
	margin: 0 0 0 30px;
}

.b-stat-work ul:first-child {
	margin-left: 0;
}

.b-stat-work ul li {
	padding-left: 0;
	background: none;
	position: relative;
	font-size: 12px;
	line-height: 14px;
}

.b-stat-work ul li.b-stat-work-title,
.b-stat-work ul li.b-stat-work-year,
.b-stat-work ul li.b-stat-work-size,
.b-stat-work ul li.b-stat-work-picture-name {
 	background: url(../img/dotted.png) bottom center no-repeat;
	padding-bottom: 7px;
	margin-bottom: 7px;
}

.b-stat-work ul li.b-stat-work-picture-name,
.b-stat-work ul li.b-stat-work-author {
	font-size: 14px;
}

.b-stat-work ul li.b-stat-work-author {
	margin-bottom: 7px;
}

.b-stat-work .b-stat-work-frame {
	position: absolute;
	top: 0;
	left: -5px;
}

.b-stat-work1 .b-stat-work-picture {
	height: 290px;
}

.b-stat-work1 .b-stat-work-picture img {
	margin: 30px 0 0 35px;
}

.b-stat-work1 .b-stat-work-frame {
	background: url(../img/picture/frame11.png) no-repeat;
	width: 254px;
	height: 310px;
}

.b-stat-work2 .b-stat-work-picture {
	height: 190px;
}

.b-stat-work2 .b-stat-work-picture img {
	margin: 23px 0 0 23px;
}

.b-stat-work2 .b-stat-work-frame {
	background: url(../img/picture/frame12.png) no-repeat;
	width: 249px;
	height: 208px;
}

.b-stat-work3 .b-stat-work-picture {
	height: 190px;
}

.b-stat-work3 .b-stat-work-picture img {
	margin: 25px 0 0 25px;
}

.b-stat-work3 .b-stat-work-frame {
	background: url(../img/picture/frame13.png) no-repeat;
	width: 251px;
	height: 213px;
}

.b-stat-work4 .b-stat-work-picture {
	height: 190px;
}

.b-stat-work4 .b-stat-work-picture img {
	margin: 25px 0 0 25px;
}

.b-stat-work4 .b-stat-work-frame {
	background: url(../img/picture/frame14.png) no-repeat;
	width: 251px;
	height: 214px;
}

/* Page Polozhenie */
.polozhenie > div {
	position: relative;
}

.polozhenie .prev-top,
.polozhenie .next-top,
.polozhenie .prev-bottom,
.polozhenie .next-bottom {
	position: absolute;
	display: inline-block;
	width: 62px;
	height: 50px;
	cursor: default;
	background: url(../img/arrows-poloz.png) no-repeat;
}

.polozhenie span.active {
	cursor: pointer;
}

.polozhenie .next-top,
.polozhenie .next-bottom {
	background-position: -62px 0;
}

.polozhenie .next-top.active,
.polozhenie .next-bottom.active {
	background-position: -62px -50px;
}

.polozhenie .prev-top,
.polozhenie .prev-bottom {
	background-position: 0 0;
}

.polozhenie .prev-top.active,
.polozhenie .prev-bottom.active {
	background-position: 0 -50px;
}

.polozhenie .prev-top {
	left: 900px;
	top: 138px;
}

.polozhenie .next-top {
	left: 975px;
	top: 138px;
}

.polozhenie .prev-bottom {
	left: 900px;
	bottom: 78px;
}

.polozhenie .next-bottom {
	left: 975px;
	bottom: 78px;
}

/* Page Sort */
.wrap-filter-work {
	width: 1078px;
	margin: 0 auto;
}

.wrap-filter-work h1 {
	float: left;
	margin: 20px 0 0;
}

.button-toggle-filter {
	background: url(../img/bg-btn-filter.png) no-repeat;
	width: 201px;
	height: 67px;
	border: 0;
	font: 20px "siemens_slabbold";
	padding: 0 0 0 30px;
	float: right;
	margin-bottom: 15px;
}

.button-toggle-filter.active {
	margin-bottom: 0;
}

.button-toggle-filter span {
	background: url(../img/arrow-filter.png) right no-repeat;
	padding-right: 30px;
}

.filter-work {
	background: url(../img/bg-filter.png) no-repeat;
	width: 1078px;
	height: 331px;
	margin-top: -20px;
	position: relative;
	display: none;
}

.filter-work h2 {
	margin-bottom: 10px;
}

.filter-work ul {
	margin: 0;
}

.filter-work ul li {
	padding: 0;
	background: none;
	margin-bottom: 5px;
}

.filter-work ul li .ez-checkbox {
	margin: 6px 15px 0 0;
	float: left;
}

.filter-work-nominations {
	float: left;
	width: 504px;
	margin: 44px 0 0 73px;
}

.filter-work-nominations li {
	float: left;
	width: 250px;
}

.filter-work-years {
	float: left;
	width: 110px;
	height: 225px;
	margin: 44px 20px 0 0;
	border-right: 1px dotted #000000;
}

.filter-work-authors {
	float: left;
	margin: 44px 0 0 0;
}

.filter-live-search input[type="text"] {
	width: 192px;
	padding: 0 7px;
	height: 27px;
	line-height: 27px;
	background-color: #fef102;
	outline: none;
	font-size: 12px;
	font-style: italic;


	border: 5px solid #ffffff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	-webkit-box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.filter-live-search .filter-live-result {
	background: #ffffff;
	width: 206px;
	position: relative;
	left: 5px;
	top: -5px;

	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.75);
	box-shadow: 0 2px 5px rgba(0,0,0,0.75);
}

.filter-live-search .filter-live-result a {
	font-size: 12px;
	font-style: italic;
	color: #000000;
	display: block;
	height: 100%;
	padding: 3px 5px;
}

.filter-live-search .filter-live-result a:hover {
	background-color: #fff45d;
}

.button.button-search {
 	width: 91px;
	height: 58px;
	padding-bottom: 9px;
	background-position: 0 -56px;
	top: 77px;
	right: 60px;
}

.button-filter,
.button-show-all {
	width: 189px;
	height: 60px;
	padding-bottom: 9px;
	background-position: 0 -114px;
}

.button-filter {
	left: 150px;
	bottom: 40px;
}

.button-show-all {
	left: 355px;
	bottom: 40px;
}

.filter-work .button {
	position: absolute;
}

/* Page Participation*/
.wrap-forms {
	margin: 0 auto;
	width: 1034px;
	overflow: hidden;
}

.wrap-forms .web-form {
	float: left;
}

.web-form-register {
	width: 430px;
	min-height: 528px;
	padding: 34px 0 0 87px;
	background: url(../img/bg-form-register.png) no-repeat;
}

.web-form-register h2 {
	margin-bottom: 15px;
}

.web-form .form-line {
	margin-bottom: 10px;
	clear: both;
}

.web-form .form-line .help-inline {
	display: block;
	font: 14px "Trebuchet MS";
	font-style: italic;
	margin-top: 10px;
}

.web-form .form-line.error .help-inline {
	color: red;
}

.web-form .form-line.form-line-photo {
	overflow: auto;
	margin-bottom: 22px;
}

.web-form input[type="text"],
.web-form textarea {
	background: url(../img/icons-personal.png) #fef102 no-repeat;
	font: 12px "Trebuchet MS";
	font-style: italic;
	outline: none;
	color: #000000;
	border: 5px solid #ffffff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.web-form input[type="text"] {
	width: 253px;
	height: 27px;
	line-height: 27px;
	padding: 0 7px 0 36px;
}

.web-form textarea {
	padding: 6px 0 6px 35px;
	width: 201px;
	height: 75px;
	background-position: 8px -1004px;
	resize: none;
	overflow: hidden;
}

::-webkit-input-placeholder {
	color:#000000;
}

:-moz-placeholder {
	color:#000000;
}

.web-form-register input.input-lastname,
.web-form-register input.input-name {
	background-position: 8px 5px;
}

.web-form-register input.input-birthday {
	background-position: 8px -140px;
}

.web-form-register input.input-country {
	background-position: 8px -297px;
}

.web-form-register input.input-city {
	background-position: 8px -455px;
}

.web-form-register input.input-phone {
	background-position: 8px -592px;
}

.web-form-register input.input-email {
	background-position: 8px -733px;
}

.web-form .input-technics .cusel {
	background-image: url(../img/icons-personal.png);
	background-repeat: no-repeat;
	background-position: 9px -1143px;
}

.web-form .load-photo-preview {
	width: 84px;
	height: 84px;
	background: url(../img/bg-load-photo.png) no-repeat;
	position: relative;
	margin-top: 5px;
	display: inline-block;
}

.web-form .load-photo-preview img {
	width: 84px;
	height: 84px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-right: 5px;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.web-form .load-photo-preview.active img {
	opacity: 1;
	filter: none;
}

.web-form .load-photo-preview .delete-photo {
	width: 19px;
	height: 20px;
	position: absolute;
	display: inline-block;
	background: url(../img/delete-photo.png) no-repeat;
	cursor: pointer;
	z-index: 99;
	right: -2px;
	top: -5px;
}

.web-form-register .load-photo {
	float: left;
	margin: 23px 0 0 10px;
}

.web-form-register .load-photo-preview {
	float: left;
}

.button.button-save {
	width: 164px;
	height: 53px;
	background-position: 0 -189px;
	padding-bottom: 9px;
	margin-left: 76px;
}

.wrap-button-register {
	clear: both;
	text-align: center;
	padding-top: 35px;
}

.button.button-register {
	width: 327px;
	height: 72px;
	background-position: 0 -263px;
	padding: 0 0 5px 5px;
	font-size: 19px;
}

.web-form-load-pictures {
	width: 432px;
	min-height: 526px;
	background: url(../img/bg-load-pictures.png) no-repeat;
	padding: 36px 0 0 85px;
}

.web-form-load-pictures h2 {
	margin-bottom: 10px;
}

.web-form-load-pictures input[type="text"] {
	width: 193px;
}

.web-form-load-pictures input.input-year-create {
	background-position: 8px -140px;
}

.web-form-load-pictures input.input-year-size {
	background-position: 8px -878px;
}

.web-form-load-pictures .load-photo-preview {
	float: left;
	margin-left: 6px;
}

.web-form-load-pictures .load-photo-preview:first-child {
	margin-left: 0;
}

.web-form-load-pictures .scroll-pane {
	width: 355px;
	height: 135px !important;
}

.web-form-load-pictures .jspTrack {
	background: url(../img/jspTrackPhoto.png) no-repeat;
}

.web-form-load-pictures .jspDrag {
	background: url(../img/jspDragPhoto.png) no-repeat;
}

.web-form-load-pictures .cusel {
	width: 236px !important;
}

.web-form .load-photo-preview.next {
	background: url(../img/bg-load-photo.png) 0 -84px no-repeat;
}

.list-news h4 {
	margin: 0 0 25px;
}

.list-news h4 a {
	color: #000000;
}

.wrap-members-gallery img {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	background: url(../img/bg-footer.png) center no-repeat;
	margin: -249px auto 0;
	height: 249px;
	position: relative;
}

#footer .wrap {
	overflow: hidden;
	padding-top: 150px;
}

#footer .copyright {
	line-height: 15px;
	font-size: 13px;
	width: 306px;
	float: left;
	padding: 35px 0 0 90px;
}

#footer .footer-logo {
	float: right;
	padding: 0 235px 0 0;
}

#footer .footer-logo li {
	float: left;
	margin-left: 40px;
}

#footer .footer-logo li:first-child {
	padding-top: 5px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
